.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #eb7171;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}
