/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered-sorted-header {
  .mat-sort-header-container {
    justify-content: center;
  }
}
.right-aligned-sorted-header {
  .mat-sort-header-container {
    justify-content: end;
  }
}
